/* style.css */

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.form-label {
    font-weight: bold;
}

.btn-primary {
    margin-top: 20px;
}
/* .house-card {
    margin-bottom: 20px;
}
.house-card img {
    max-width: 100%;
    height: auto;
} */
.house-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.house-card .card-body {
    padding: 20px;
}

.house-card img {
    max-height: 200px;
    object-fit: cover;
    width: 100%;
}

.price {
    font-weight: bold;
}

.call-button .btn {
    background-color: #007bff;
    color: #fff;
}

/* Additional styles as needed */

.navbar-brand img {
    max-height: 50px; 
}
.home-background {
    background-image: url('../images/house20.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.home-background h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

/* About Us section styling */
.about-section {
    background-color: #f8f9fa;
    padding: 50px 0;
}
.about-content {
    padding: 0 20px;
}
.about-image img {
    max-width: 100%;
    height: auto;
}
.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}
@media (max-width: 767px) {
    body {
        overflow-x: hidden;
    }
}