<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Houses</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% include 'navbar.html' %}
    <!-- About Us section -->
    <div class="container about-section">
        <div class="row">
            <!-- About Us image column -->
            <div class="col-md-6">
                <div class="about-image">
                    <img src="../static/images/house1.jpg" alt="About Us Image">
                </div>
            </div>
            <!-- About Us content column -->
            <div class="col-md-6">
                <div class="about-content">
                    <h3>About Us</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu orci ac turpis dapibus posuere. Nullam varius, leo ac malesuada sodales, lacus urna ullamcorper lorem, at tincidunt orci mi sed orci.</p>
                    <p>Aliquam auctor velit eget consectetur varius. Vestibulum in diam consequat, vestibulum tortor nec, condimentum lorem. Vestibulum vitae libero vel enim consectetur varius.</p>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>